Port 22
AddressFamily any
LoginGraceTime 60s
StrictModes yes
MaxAuthTries 6
MaxStartups 20:30:100
IgnoreUserKnownHosts yes
IgnoreRHosts yes
ClientAliveInterval 10
ClientAliveCountMax 3

AllowGroups sudo mlgod ml2018

PermitRootLogin no
PermitEmptyPasswords no
PasswordAuthentication yes
HostBasedAuthentication no
PubkeyAuthentication yes
UsePAM yes

Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-ripemd160-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,hmac-ripemd160,umac-128@openssh.com

AllowAgentForwarding no
AllowTcpForwarding no
AllowStreamLocalForwarding no
X11Forwarding no
PermitTTY yes
PrintMotd yes
PrintLastLog yes
TCPKeepAlive no

#Subsystem sftp /usr/lib/openssh/sftp-server
